<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>This may help during development --> <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  <ul>
    <li>
      <app-home></app-home>
    </li>
    <li>
      <app-login></app-login>
    </li>
    <li>
      <app-note></app-note>
    </li>
    <li>
      <app-notes></app-notes>
    </li>
    <li>
      <app-signup></app-signup>
    </li>
    <li>
      <app-page-not-found></app-page-not-found>
    </li>
  </ul>

  <p>Listed above are the individual components which are located in the /src/app directory.</p>