ul {
    list-style-type: none;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav > a {
    background-color: steelblue;
    border-radius: 8px;
    padding: 8px;
    color: white;
    text-decoration: none;
    margin: .5em;
}

h1 {
    text-align: center;
}