ul {
    list-style-type: none;
}

li {
    background-color: lightgray;
    border-radius: 8px;
    margin: .5em;
    padding: 8px;
    display: inline-block;
}

a {
    text-decoration: none;
}

h3 {
    background-color: steelblue;
    border-radius: 8px;
    color: white;
    padding: 8px;
}