<h1 class="text-center">{{pageTitle}}</h1>
<!--<app-loading *ngIf="loading"></app-loading>-->

<ng-template [ngIf]="utils.isLoaded(loading)">
    <ng-template [ngIf]="noteList">
      <ng-template [ngIf]="noteList.length">

          <section class="search input-group mb-3">
              <label class="input-group-addon" for="search">Search</label>
              <input
                id="search"
                type="text"
                class="form-control"
                [(ngModel)]="query"
                (keyup)="searchNotes()" />
              <span class="input-group-btn">
                <button
                  class="btn btn-danger"
                  (click)="resetQuery()"
                  [disabled]="!query">reset</button>
              </span>
            </section>

            <p *ngIf="fs.noSearchResults(filteredNotes, query)" class="alert alert-warning">
              No notes found for <em class="text-danger">{{query}}</em>, sorry!
            </p>

            <section class="list-group">
                <a
                  *ngFor="let note of notes"
                  [routerLink]="['/note', note._id]"
                  class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" [innerHTML]="note.title"></h5>
                  </div>
                </a>
            </section>
          </ng-template>

          <p *ngIf="error" class="alert alert-danger">
            <strong>Oops!</strong> There was an error retrieving note data.
          </p>

        </ng-template>



<div class="note-wrapper-outer">
  <a *ngFor="let note of notes" routerLink="/detail/{{note.id}}">
    <div class="note-wrapper-inner">
      <h4>{{note.name}}</h4>
      <p>{{note.content.substring(0,50)}}...</p>
    </div>
  </a>
</div>