<h2>Home component</h2>
<p>Replace this content with view created for home page</p>
<ul><em>Ideas for home</em>
    <li>Search bar</li>
    <li>Notebooks</li>
    <li>Custom greeting</li>
    <li>Previews</li>
</ul>
<p>Just throwing some ideas around</p>
<p>There is a styles.css file for global styles and a [foo].component.css file for styles not globally applied in the app</p>
<p>The database can be integrated in the app.module.ts file. I have created a database-config file to house the configuration which is exported to the app.module.ts file as 'Database'</p>