<div class="card-block">
    <h2 class="card-title text-center">share</h2>
    <!--<app-loading *ngIf="loading"></app-loading>-->
  </div>
  
  
  <ng-template [ngIf]="utils.isLoaded(loading)">
    <ng-template [ngIf]="!shares">
  
      <!-- User has shareed -->
      <ng-template [ngIf]="userShare">
        <p class="card-block lead">You responded to this note with the following information:</p>
  
        <ul *ngIf="!showEditForm" class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Name:</strong>{{userShare.name}}
          </li>
          <li class="list-group-item">
            <strong>Attending:</strong>{{utils.booleanToText(userShare.attending)}}
          </li>
          <li *ngIf="userShare.attending && userShare.guests" class="list-group-item">
            <strong>Additional Guests:</strong>{{userShare.guests}}
          </li>
          <li *ngIf="userShare.comments" class="list-group-item">
            <strong>Comments:</strong><span [innerHTML]="userShare.comments"></span>
          </li>
        </ul>
  
        <div class="card-block">
          <button
            class="btn btn-info"
            [ngClass]="{'btn-info': !showEditForm, 'btn-warning': showEditForm}"
            (click)="toggleEditForm()">{{editBtnText}}</button>
  
          <app-share-form
            *ngIf="showEditForm"
            [noteId]="noteId"
            [share]="userShare"
            (submitShare)="onSubmitShare($note)"></app-share-form>
        </div>
      </ng-template>
  
      <!-- No Share yet -->
      <div *ngIf="!userShare" class="card-block">
        <p class="lead">Fill out the form below to respond:</p>
  
        <app-share-form
          [noteId]="noteId"
          (submitShare)="onSubmitShare($note)"></app-share-form>
      </div>
    </ng-template>
  
    <!-- All Shares -->
    <div class="card-block text-right">
      <button (click)="toggleShowShares()" class="btn btn-link btn-sm">{{showSharesText}}</button>
    </div>
  
    <section class="allShares" *ngIf="showAllShares" [@expandCollapse]>
      <div class="card-block">
        <h3 class="card-title text-center">All Shares</h3>
        <p *ngIf="!shares.length" class="lead">Not being shared.</p>
      </div>
  
      <ul *ngIf="shares.length" class="list-group list-group-flush">
        <li class="list-group-item list-group-item-success justify-content-between">
          <strong>Attending</strong>
          <span class="badge badge-success badge-pill">{{totalAttending}}</span>
        </li>
        <li
          *ngFor="let share of fs.filter(shares, 'attending', true)"
          class="list-group-item small">
          {{share.name}} {{utils.showPlusOnes(share.guests)}}
          <p *ngIf="auth.isAdmin && share.comments" class="d-flex w-100">
            <em [innerHTML]="share.comments"></em>
          </p>
        </li>
        <li class="list-group-item list-group-item-danger justify-content-between">
          <strong>Not Attending</strong>
          <span class="badge badge-danger badge-pill">{{fs.filter(shares, 'attending', false).length}}</span>
        </li>
        <li
          *ngFor="let share of fs.filter(shares, 'attending', false)"
          class="list-group-item small">
          {{share.name}}
          <p *ngIf="auth.isAdmin && share.comments" class="d-flex w-100">
            <em [innerHTML]="share.comments"></em>
          </p>
        </li>
      </ul>
    </section>
  
    <!-- Error loading shares -->
    <div *ngIf="error" class="card-block">
      <p class="alert alert-danger">
        <strong>Oops!</strong> There was an error retrieving sharing for this note.
      </p>
    </div>
  </ng-template>
  
  <!-- Footer showing # of total attending guests -->
  <div class="card-footer text-right">
    <small *ngIf="totalAttending >= 0" class="text-muted">{{utils.displayCount(totalAttending)}} {{footerTense}}</small>
  </div>